*{
  margin: 0;
  box-sizing: 0;
  padding: 0;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gold;
  padding: 3rem;
  margin-bottom:  700px;
}

.nav-menu{
  display: flex;
  list-style-type:none;
  gap: 0.5rem;
  margin-left: 550px;
}
.nav-link{
  text-decoration: none;
  color: red ;
}
.carrito{
  margin-left: 26px;
}

.items-container{
  min-height: 50vh;
  display: grid;
  place-items: center;
}